[user]
	name = MaG-NITud3
	email = theeparthasarathi@gmail.com
	signingkey = theeparthasarathi@gmail.com
	name = Parthasarathi
[core]
	excludesFile = .gitignore_global
	autocrlf = input
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential]
	helper = cache
[init]
	defaultBranch = main
[merge "ours"]
	driver = true
[gui]
	recentrepo = /home/mag/Workstation/Crap/gitwork/QueueMod
[commit]
	gpgsign = true
[web]
	browser = librewolf
[difftool "*"]
	cmd = "nvim -d"
