[user]
	name = MaG-NITud3
	email = 78688755+MaG-NITud3@users.noreply.github.com
	signingkey = C43652DA277F194A8CC7FE85A2B57476B015A1B3
[core]
	excludesFile = .gitignore_global
	autocrlf = input
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential]
	helper = cache
[init]
	defaultBranch = main
[merge "ours"]
	driver = true
[gui]
	recentrepo = /home/mag/Workstation/Crap/gitwork/QueueMod
[commit]
	gpgsign = true
